evidently-data-analysis@ git+https://github.com/Nachimak28/evidently-data-analysis.git
evidently-model-analysis@ git+https://github.com/Nachimak28/evidently-model-analysis.git
gradio==2.9.4
joblib==1.1.0
evidently
numpy==1.21.6
pandas==1.3.5
scikit-learn==1.0.2
lightning
